*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#layout{
    margin: auto;
    display: block;;
    width: 800px;
    height: 400px;
    background: rgb(81, 207, 252);
    border: 3px solid black;
}
#nube1{
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}
#nube11{
    width: 80px;
    height: 60px;
    position: relative;
    top: -5px;
    left: 0px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#nube12{
    width: 120px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 40px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}
#nube13{
    width: 80px;
    height: 60px;
    position: absolute;
    top: -5px;
    left: 120px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#nube2{
    width: 200px;
    height: 50px;
    position: relative;
    top: 0px;
    left: 350px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}
#nube21{
    width: 80px;
    height: 60px;
    position: relative;
    top: -5px;
    left: 0px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#nube22{
    width: 120px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 40px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}
#nube23{
    width: 80px;
    height: 60px;
    position: absolute;
    top: -5px;
    left: 120px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#piso{
    display: block;
    width: 800px;
    height: 30px;
    background:green;
    position: relative;
    top:270px;
}

#arbol1{
    display: block;
    width: 80px;
    height: 140px;
    position: relative;
    top: 100px;
    left: 70px;
}

#tallo{
    display: block;
    width: 40px;
    height: 65px;
    position: relative;
    z-index: 1;
    top: -5px;
    left: 20px;
    background: brown;
}

#copa{
    display: block;
    width: 80px;
    height: 80px;
    z-index: 1;
    border-radius: 100%;
    background: green;
}

#arbol2{
    display: block;
    width: 80px;
    height: 140px;
    position: relative;
    left: 670px;
    top: -40px;
    
}

#casa{
    display: block;
    width: 400px;
    height: 200px;
    position: relative;
    top: -240px;
    left: 240px;
    background: rgba(252, 248, 4, 0.952);
}

#puerta{
    display: block;
    width: 70px;
    height: 100px;
    position: relative;
    top: -340px;
    left: 380px;
    background: rgba(255, 255, 255, 0.952);
}



