*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #62374e;
    margin: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
  }
  div {
    margin: 50px;

    width: 50px;
    height: 50px;
    background: #fdc57b;
  }